$primery-color-1: #dbc9ae;
$primery-color-2: #ff725e;
$primery-color-3: #f4efdb;
$primery-color-4: white;
$primery-color-5: black;
$primery-color-6: #707070;
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
